header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

header .left {
  display: flex;
  color: white;
}

header .right {
  display: flex;
  color: white;
}

.left *,
.right * {
  margin: 5px;
  text-decoration: none;
  color: black;
}

.col-4 {
  text-align: center;
  margin: 20px 0;
}

.ingridients {
  height: 150px;
  display: flex;
  align-items: end;
  color: #878787;
}

.radius {
  display: flex;
}

.skirting {
  display: flex;
}

.txt-radius {
  width: 25%;
}

.txt-skirting {
  width: 25%;
}

select {
  width: 75%;
}
